h2 {text-transform:uppercase}
h3 {text-transform:uppercase}
h4 {text-transform:uppercase}
h5 {text-transform:uppercase}

    
.spalten_gelb {height:70px}
.rechnung p {font-size:1.6em;text-transform:uppercase;line-height:40px;font-weight:900;color:var(--color__primary)}

span {font-size:20px;color:black}

#gradient_white {
    background-image: radial-gradient(closest-side, white, black,farthest-corner at 40px 40px,);
    
}