h2 {text-transform:uppercase}
h3 {text-transform:uppercase}
h4 {text-transform:uppercase}
h5 {text-transform:uppercase}

    
.spalten_gelb {height:50px;}
.rechnung p {font-size:50px !important;}

span {font-size:20px;color:black}