.gform_wrapper.gform_validation_error form .gform_body input[type=checkbox]+label:before,
.gform_wrapper form .gform_body input[type=checkbox]+label:before {
  display:none;
}

.gform_wrapper.gform_validation_error form .gform_body input[type=checkbox]:checked+label:after,
.gform_wrapper form .gform_body input[type=checkbox]:checked+label:after {
  display:none;
}

.gform_wrapper.gform_validation_error form .gform_body input[type=checkbox]+label,
.gform_wrapper.gform_validation_error form .gform_body input[type=radio]+label,
.gform_wrapper form .gform_body input[type=checkbox]+label,
.gform_wrapper form .gform_body input[type=radio]+label {
  padding-left:0px;
}

.gform_wrapper.gravity-theme .ginput_container_image_choice .gchoice {
  inline-size:220px;
  max-inline-size:220px;
  min-inline-size:220px;
}

.gform_wrapper.gravity-theme .ginput_container_image_choice .gchoice:where(:has(input:checked))::after {
  background-color:#19b0e5;
}

@media (min-width:1024px) {
  .gform_wrapper.gform_validation_error form .gform_body .gform_fields .gfield .gchoice label,
  .gform_wrapper form .gform_body .gform_fields .gfield .gchoice label {
    font-size:20px;
    font-weight:bold;
  }
}