.ikk_tooltip { }
.ikk_tooltip:before {
  content: attr(data-text);
  position:absolute;
    display:none;}
    
    .ikk_tooltip:hover:before {
  display:block;
        background-color:red
}