#box-block {
    min-height: 500px
}

.wp-block-custom-blocks-accordion .accordion-item .headline {background-color: #f8f8f8; color: black; border: none;}
.wp-block-custom-blocks-accordion .accordion-item {margin-bottom: 20px; border-bottom: 1px solid #00000042;}

#box-blau{width: 500px; padding:30px 30px 30px 30px}