@media (min-width:768px) {
    .wp-block-column:not(:first-child) {
    margin-left:4em
  }
}

@media (max-width: 768px) {
  div.wp-block-columns .wp-block-column {
    padding-bottom: 0px !important
    }
}

.postarchive.benefit {

    .post {
        padding: 0.5em 0 0.5em 0;}
}