#slider-absatz{min-height:100px}
#fusstext{font-size:0.7em; line-height:1.2em}
#slide2{min-height:350px}
    .wp-block-group__inner-container{padding:15px !important}

@media (min-width:720px){
    #slide2{min-height:300px}
 .wp-block-group__inner-container{padding:20px !important}}

#rotate-div{transform: rotate(-90deg);height:60px; width:300px}
.wp-block-column:not(:first-child) {
    margin-left: 0.5em;}