@media (min-width:768px) {
    .wp-block-column:not(:first-child) {
    margin-left:4em}
}

@media (max-width: 768px) {
  div.wp-block-columns .wp-block-column {
    padding-bottom: 0px !important
    }
}

.postarchive.benefit {
    .post {
       padding: 0 0 1.25em 0;}
    
    .post__title {
      padding-right: 35px;
    }
}

@media (min-width: 768px) {
  [class^=\"wp-block\"] + .wp-block-group.has-before {
    margin-top: 100px !important
  }
}