.ikk_tooltip:before {
  content: attr(data-text);
  position:absolute;
   
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;
    
  display:none;}
    
.ikk_tooltip:hover:before {
  display:block;
  background-color:red
        --b: 2em;
    --h: 1em;
    border-image: fill 0 // var(--h)
    conic-gradient(#CC333F 0 0);
    
}

.ikk_tooltip:hover:before {
  display:block;
  background-color:red
        --b: 2em;
    --h: 1em;
    border-image: fill 0 // var(--h)
    conic-gradient(#CC333F 0 0);
    
}