.tooltip {
  position:relative; 
  border-bottom:1px dashed #000; 
}

.tooltip:before {
      content: attr(data-text);
  position:absolute;
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;
  display:none; 
}

.tooltip:hover:before {
  display:block;
}


