@media (min-width: 768px) {
    #desktop-padding-0-50-0-50 {padding: 0px 50px 0px 50px}
}

.wp-block-media-text__content {z-index: -1 !important}

#shadow-test {-webkit-box-shadow: 5px -5px 5px rgba(0,0,0,.30);
    box-shadow: 5px -5px 5px rgba(0,0,0,.30);
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -100px;
    padding: var(--spaces-m) var(--spaces-m) var(--spaces-m) calc(100px + var(--spaces-m));
   
    margin-top:150px;

}
