.wp-block-custom-blocks-singlestaff.is-style-box {
  min-height: 360px;
  text-align: center;
}

.wp-block-custom-blocks-singlepost.posts {
  vertical-align: top;
    margin-right:20px;
}

.wp-block-custom-blocks-singlepost .location {
    min-height: 360px;
}

.wp-block-custom-blocks-singlestaff {
    margin-right:20px;}

.wp-block-custom-blocks-singlestaff .post__image {
    width: 100%;}